<%= link_to "Create your profile!.", new_user_profile_path(current_user) if current_user%>
<!--current_user is available from devise gem and sets user_id: dynamiclylinkedcurrentuserthatsloggedin-->
<!--new_user_profile is available from the routes.rb when you bundle exec rake routes-->
<!--if current_user means if the user is logged in-->

<div class="jumbotron text-center">
    <h1>Welcome to Devmatch</h1>
    <h3>This is a site im making from a tutorial for developers to socialize</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic Membership</h2>
            <h4>Sign up for free and get basic access to the community.</h4>
            <br/>
            <%= link_to "Sign up for FREE", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Pro Membership</h2>
            <h4>Sign up for a Pro account for $10/month to gain access to all our members!</h4>
            <%= link_to "Sign up for PRO", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
    </div>
</div>